/* selectors */
/* universal selctor=>0 

class selector=>100

element or typed selector=>10

id selector=>500

inline css=>1000


*/

*{
    color:orange;
}



/* by tag name */
.head{
        color:black;
}


#myHead{
    color:greenyellow;
}


/* p{ 
    color:blue;
    font-weight:300;
}*/



/* by id name */
#main{
    color:rgb(255, 136, 0);
}



/* by class name */
/* .para{ 
    font-style: italic;
    background-color:gainsboro;
    color:red;
    font-weight:300;
}*/
