*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* position

    static(default)
    fixed
    absolute
    relative
    inherit


*/
h1{
    text-align: center;
    background-color: aqua;
    padding:10px;
    margin-bottom: 15px;

}
.boxes{
    width:100%;
    text-align: center;
    background-color:rgb(162, 130, 238);
    padding: 20px;
    position:relative;
}
.box{
    width:50%;
    padding:30px;
    margin:0 auto;
}
.box1{

    
    background-color: blue;
    
}

.box2{
    position:relative;
    top: 30px;
    left:30px;
    background-color:olivedrab;

}

.box3{
    position:relative;
    top:60px;
    left:70px;
    background-color: lightgreen;
}

.box4{
    position:relative;
    top:80px;
    left:90px;
    background-color: rgb(165, 200, 7);
}

.dummy{
    height:800px;
}