*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}


header{
    background-color: blanchedalmond;
    margin-bottom:20px 0;
}


header ul{
    padding:20px;
}

header ul > li{
    list-style: none;
    display:inline;
}


header ul.navbar > li a{
    padding:15px;
    text-decoration: none;
}


header ul.navbar > li.sidenav{
    float:right;
}

header ul.navbar > li.toggle-nav{
    display:none
}

@media print{
    header{
        display:none;
    }

    a {
        text-decoration: none;
    }
}

@media screen and (max-width:600px){
    header ul.navbar li:not(:first-child){
        display:none;
    }

    header ul.navbar > li.toggle-nav{
        display:block;
        float:right;
    }
}